*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:rgb(245,233,218);
}
.text-color{
    color:rgb(114,7,48);
}
header{
    width:88vw;
    margin:30px auto 0 auto;
    vertical-align:middle;
}
header  h1{
    text-align:center;
    letter-spacing:15px;
    font-weight:bolder;
}
.search form{
    width:100vw;
    display:flex;
    margin-top:50px;
    flex-direction:row;
    justify-content:center;
}
.search form input{
    padding: 10px;
    line-height:2;
    width:50vw;
    margin-right:10px;
    font-size:1.2em;
}
.search form #submit{
    padding:10px;
    line-height:2;
    width:20%;
    min-width:fit-content;
    font-size:1.2 rem;
}
.list{
    max-width:1100px;
    margin:50px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.list li{
    margin:10px;
    list-style:none;
}
.list li img{
    width:200px;
    height:200px;
    justify-items:center;
    border-radius:10%;
    box-shadow:5px 5px 5px #aaaaaa;

}